@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    /* --foreground: #ededed; */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bgAlimentosJogo {
  background-image: url('/alimentos-bg-jogo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100dvh;
  width: 100%;
}

.bgAnimaisJogo {
  background-image: url('/animais-bg-jogo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100dvh;
  width: 100%;
}

.bgCowBoyJogo {
  background-image: url('/cowboy-bg-jogo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100dvh;
  width: 100%;
}

.bgPraiaJogo {
  background-image: url('/praia-bg-jogo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100dvh;
  width: 100%;
}

.bgAlimentosNiveis {
  background-image: url('/alimentos-bg-niveis.png');
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  height: 100dvh;
  width: 100%;
}

.bgAnimaisNiveis {
  background-image: url('/animais-bg-niveis.png');
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  height: 100dvh;
  width: 100%;
}

.bgCowBoyNiveis {
  background-image: url('/cowboy-bg-niveis.png');
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  height: 100dvh;
  width: 100%;
}

.bgPraiaNiveis {
  background-image: url('/praia-bg-niveis.png');
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  height: 100dvh;
  width: 100%;
}
